<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="menuGerant">
		<size>551,450</size>
		<bg>wxSYS_COLOUR_WINDOW</bg>
		<minsize>551,450</minsize>
		<maxsize>551,450</maxsize>
		<id_arg>0</id_arg>
		<object class="wxButton" name="ID_BUTTON1" variable="btn_perso" member="yes">
			<label>gestion Personnel</label>
			<pos>104,88</pos>
			<size>288,55</size>
			<handler function="Onbtn_persoClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="btn_rest" member="yes">
			<label>gestion restaurant</label>
			<pos>104,160</pos>
			<size>288,55</size>
			<handler function="Onbtn_restClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="btn_admin" member="yes">
			<label>admin et statistique</label>
			<pos>104,224</pos>
			<size>288,55</size>
			<handler function="Onbtn_statClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON4" variable="Button1" member="yes">
			<label>exit</label>
			<pos>104,352</pos>
			<size>288,55</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
