<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="personnel">
		<size>517,450</size>
		<bg>wxSYS_COLOUR_WINDOW</bg>
		<minsize>517,450</minsize>
		<maxsize>517,450</maxsize>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
			<pos>16,48</pos>
			<size>328,224</size>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<handler function="OnPanel1Paint" entry="EVT_PAINT" />
					<object class="wxButton" name="ID_BUTTON4" variable="btn_recherche" member="yes">
						<label>recherche</label>
						<pos>312,32</pos>
						<handler function="Onbtn_rechercheClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="txt_infonom" member="yes">
						<pos>72,32</pos>
						<size>208,21</size>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="txt_info" member="yes">
						<pos>72,72</pos>
						<size>328,96</size>
						<style>wxTE_PROCESS_TAB|wxTE_MULTILINE</style>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
						<label>nom</label>
						<pos>16,40</pos>
					</object>
				</object>
				<label>infoServeur</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txt_nom" member="yes">
						<pos>112,32</pos>
						<size>144,24</size>
						<handler function="Ontxt_nomText" entry="EVT_TEXT" />
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="txt_pass" member="yes">
						<pos>112,72</pos>
						<size>144,24</size>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="txt_salaire" member="yes">
						<pos>112,112</pos>
						<size>136,24</size>
						<handler function="Ontxt_salaireText" entry="EVT_TEXT" />
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
						<label>nom</label>
						<pos>32,32</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
						<label>password</label>
						<pos>32,72</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
						<label>salaire</label>
						<pos>40,112</pos>
					</object>
					<object class="wxButton" name="ID_BUTTON1" variable="Btn_ajouter" member="yes">
						<label>ajouter</label>
						<pos>80,176</pos>
						<size>88,23</size>
						<help>saisir nom,password,salaire</help>
						<handler function="OnBtn_ajouterClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txt_ajouter" member="yes">
						<pos>288,24</pos>
						<size>200,168</size>
						<style>wxTE_MULTILINE</style>
					</object>
				</object>
				<label>ajouterServeur</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
					<object class="wxButton" name="ID_BUTTON2" variable="btn_sal" member="yes">
						<label>modifier Salaire</label>
						<pos>104,200</pos>
						<help>saisir nouveau salaire</help>
						<handler function="Onbtn_salClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="TextCtrl1" member="yes">
						<pos>272,16</pos>
						<size>204,160</size>
						<style>wxTE_MULTILINE</style>
						<handler function="OnTextCtrl1Text" entry="EVT_TEXT" />
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="txt_nsal" member="yes">
						<pos>128,48</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="txt_sal" member="yes">
						<pos>128,96</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>nom</label>
						<pos>32,56</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
						<label>nouveau salaire</label>
						<pos>24,96</pos>
					</object>
					<object class="wxButton" name="ID_BUTTON5" variable="btn_infosalaire" member="yes">
						<label>info salaire</label>
						<pos>344,200</pos>
						<handler function="Onbtn_infosalaireClick" entry="EVT_BUTTON" />
					</object>
				</object>
				<label>modifier Salaire</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
					<object class="wxButton" name="ID_BUTTON3" variable="btn_pass" member="yes">
						<label>modifier pass</label>
						<pos>136,216</pos>
						<handler function="Onbtn_passClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
						<label>nom</label>
						<pos>64,48</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL10" variable="txt_mp_nom" member="yes">
						<pos>120,48</pos>
						<size>144,21</size>
						<handler function="Ontxt_mp_nomText" entry="EVT_TEXT" />
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
						<label>password</label>
						<pos>40,96</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL11" variable="txt_mp_pass" member="yes">
						<pos>120,96</pos>
						<size>144,21</size>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL12" variable="txt_mp_pass2" member="yes">
						<pos>120,152</pos>
						<size>144,21</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
						<label>repassword</label>
						<pos>40,160</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL13" variable="TextCtrl2" member="yes">
						<pos>320,48</pos>
						<size>140,152</size>
						<style>wxTE_MULTILINE</style>
					</object>
				</object>
				<label>modifier pass</label>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-10</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
